pycurl==7.43.0.3
absl-py==0.8.0
app-version==1.0.1
asn1crypto==0.24.0
astor==0.8.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
cycler==0.10.0
decorator==4.4.0
gast==0.3.1
grpcio==1.23.0
h5py==2.10.0
idna==2.8
imageio==2.5.0
imgaug==0.2.9
jwt==0.6.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lxml==4.4.1
matplotlib==3.1.1
networkx==2.3
numpy==1.17.2
opencv-python==4.1.1.26
Pillow==6.1.0
post==2019.4.13
public==2019.4.13
pycparser==2.19
pycryptodome==3.9.0
pyparsing==2.4.2
python-dateutil==2.8.0
PyWavelets==1.0.3
query-string==2019.4.13
scikit-image==0.15.0
scipy==1.3.1
Shapely==1.6.4.post2
six==1.12.0
tensorboard==1.12.2
tensorflow==1.12.0
requests==2.23.0
